body {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #f44336;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.book p {
  margin: 0;
  font-size: 16px;
}

.book button {
  margin-left: 10px;
}

.addBookToLibraryBtn {
  margin-bottom: 20px;
}

.seperationLine {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid rgb(0, 0, 0);
}